@use "./abstract/variables" as *;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./components/trailer";
@import "./components/movieDesc";
@import "./components/formPage";
@import "./components/navbar";
@import "./components/profilePage";
@import "./components/loadingPic";
@import "./components/screeningList";
@import "./abstract/line";
@import "./components/movieInfo";
@import "./components/movieCarousel";
@import "./components/movieCard";
@import "./components/searchFilterSort";
@import "./components/hero";
@import "./components/adCard";

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }


body {
    background-color: $mainColor;
    color: white;
}

// Playfair gold header, bold weight
.movie-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Playfair Display';
    color: #BD9060;
    margin-top: 0.5em;
    font-size: 30px;
    font-weight: bold;
}