@use "../abstract/variables" as *;

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

// Mobile font styling
.gold {
    color: $goldColor;
}

.header-bold {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 24px;
}

.small-header {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 16px;
}

.title-header-light {
    font-family: 'Playfair Display';
    font-size: 24px;
}

.large-header {
    font-family: 'Playfair Display';
    font-size: 46px;
    font-weight: bold;
}


