@use "../abstract/variables" as *;
.line {
    position: relative;
    overflow: hidden;

    &::after{
        position: absolute;
        top: 50%;
        content: "";
        height: 2px;
        width: 100000%;
        background-image: $lineGradient;
        margin-left: .5em;
    }
}



.line-center {
    white-space: nowrap;
    position: relative;
    display: flex; 
    align-items: center;
    width: 100%;

    &::before,
    &::after {
        content: "";
        flex: 1;
        height: 2px;
        background-image: $lineGradient;
        display: inline-block;
    }

    &::before {
        margin-right: 0.5em;
    }

    &::after {
        margin-left: 0.5em;
    }
}