@use "../abstract/variables" as *;


.ad-card{
    padding: 0;
    margin: 1em;
    max-width: 500px;
    height: 150px;
    overflow: hidden;
    border: none;
    
    .card-body {
        position: relative;
        overflow: hidden;
    }

    .card-title {
        color: #000;
        font-family: 'Playfair Display';
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 1em;
        max-width: 200px;
    }

    .card-image {
        border-radius: "10px";
        top: 0;
        right: 0;
        position: absolute;
        object-fit: contain;
    }

    
}