.custom-footer {
  position: relative;
  min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2B3D5B;
    padding: 10px;
    text-align: center;
    
   
    
    a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
    }
    
    .footer-adress {
        font-size: 12px;
       
    }
    
    .footer-text {
      margin-top: 12px;
      color: #f8f3f383;
      font-size: 12px;
      
    }
  }


.icon {
    color: white;
    text-decoration: none;
    justify-content: center;
    svg {
        font-size: 20px; 
    }

}

.mobile-icon {

    svg {
        font-size: 11px;
    }
}




  
  


  
