.customFooter {  
    a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
    }
    
    .footerAdress {
        font-size: 12px;
    }
    
    .footerText {
      color: #f8f3f383;
      font-size: 12px;
      &:before {
        content: " ";
        /* add line on top of footer text here*/
      }
    }
    
    .iconRow {
      position: relative;
      justify-content: center;
      max-width: 500px;
      &::before {
        content: " ";
        display: block;
        height: 2px;
        width: 130px;
        position: absolute;
        top: 50%;
        left: 0;
        background: #5B4935;
      }
      &:after {
        content:" ";
        height: 2px;
        width: 130px;
        background: #5B4935;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
      }
    }
  }

.icon {
    color: white;
    text-decoration: none;
}
