@use "../abstract/variables" as *;

.form-wrapper {
  display: flex;
  justify-content: center;
  width: clamp(200px, 80%, 500px);

  .navline {
    background-image: $lineGradient;
    height: 2px;
    margin-left: 0.5em;
  }

  .submit-btn,
  .cancel-btn {
    border-radius: 9999999999px;
    width: 100%;
    opacity: 95%;
    color: $mainColor;
  }

  .submit-btn:hover,
  .cancel-btn:hover {
    opacity: 100%;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: $goldColor;
  }

  .submit-btn {
    border-color: $goldColor;
    background-color: $goldColor;
  }

  .cancel-btn {
    background-color: #a5a5a5;
    border-color: #a5a5a5;
  }

  .example-text {
    font-style: italic;
  }
}
