.movie-carousel{
    .carousel-card {
        position: relative;
        .img-wrapper{
            color: white;
            text-decoration: none;
    
            p{
                font-size: .8em;
            }

            .release-banner {
                background-color: $goldColor;
                padding: 0.4em;
                width: 100%;
                display: block;
                color: #000;                
                font-size: 12px;
            }
        }
    }
}