@use "../abstract/variables" as *;
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';


.price-summary-wrapper {

    width: 100%;

    padding: 1rem 2.5rem;

    background-color: $blueColor;
    

    h4 {
        font-size: 1rem;
        font-weight: bold;

        margin: 0;
    }

    p {
        font-size: .8rem;
        margin-bottom: 1rem;
    }


    .btn-custom {
        width: 100%;
        
        border-radius: 20px;

        background-color: $goldColor;
        color: $blackColor;
    }

    .btn-custom:hover {
        background-color: $goldColor;
        color: $blackColor;
    }

}

@include media-breakpoint-up(sm) { 

}
@include media-breakpoint-up(md) { 
    .price-summary-wrapper {
        margin: 0 2em auto;
        width: 25%;

        border-radius: 15px;

        padding: 1rem;
        
        p {
            font-size: .8rem;
            margin-bottom: 2rem;
        }

    }

}
@include media-breakpoint-up(lg) {


}
@include media-breakpoint-up(xl) { 

}
@include media-breakpoint-up(xxl) { 
}
