@use "../abstract/variables" as *;
.booking-history-header{
    padding-top: 1em;
}
.booking-card{
    border-radius: 10px;
    background-color: $navyBlueColor;
    box-shadow: 0 3px 4px black;
    gap: .5em;
    min-width: 340px;
    max-width: 49%;
    margin: 0 !important;
    .booking-info-container{
        max-width: 240px;
    }

    .profile-poster{
        object-fit: fill;
        border-radius: 10px 0 0 10px;
    }
    .card-btn{
        font-size: .7rem;
        border-radius: 9999px;
        border: none;
        background-color: $OrangeColor;
        color: $blackColor;
        font-weight: 600;
    }
 
    .booking-title{
        width: 100%;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        color: $goldColor;
    }
    .ref-number{
        font-size: .8rem;
        font-weight: 500;
        text-wrap: nowrap;
    }
    p{
        font-size: .8rem;
    }
    .card-seats{
        margin-left: 8px;
    }
    
}

.user-info-card, .note-card{
    box-shadow: 0 0 10px $blackColor;
    max-width: 290px;
    border-radius: 10px;
}
.user-info-card{
    text-overflow: ellipsis;

    table{
        thead,tbody{
            tr{
                font-size: .9rem;
                td{
                    margin: 0 0 0 .5em;
                }
            }
        }
        tbody{
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }
    }
    .profile-btn{
        width: 100px;
        margin: 10px 0 10px 0 !important;
        
        border-radius: 9999px;
        border: none;
        background-color: $OrangeColor;
        color: $blackColor;
        font-weight: 600;
        font-size: .9rem;
    }

 
}
.note-card{
    border: 1px solid $OrangeColor;
    .note-icon{
        margin-bottom: .5em;
        color: $OrangeColor;
        font-size: 2rem;
    }
    .profile-note{
        h6{
            
            font-weight: 600;
        }
        .note-whisper, .note-information{
            font-size: .9rem;
        }
        Button{
            font-size: .9rem;
            background-color: $OrangeColor;
            font-weight: 600;
            border: none;
            color: black;
        }
    }
}
@include media-breakpoint-up(xl) { 
    .booking-card{
        .booking-info-container{
            max-width: 290px;
            p{
                font-size: .9rem;
                font-weight: 500;
            }
            Button{
                font-size: .9rem;
            }
        }
    }

}




