.screenig-list {
    h2 {
        color: #fff;
        font-size: 48;
        font-weight: bold;
        font-family: 'Playfair Display';
    }
    .show-more {
        background-color: transparent;
        color: #BD9060;
        border: none;
        line-height: 0;
        font-size: 20px;
        font-family: 'Playfair Display';

        &:hover {
            background-color: inherit;
            color: #fff;
        }
    }
    
    .screening-table{
        th {
            display: none;
        }
        td {
            padding: 2em 0;
            border-bottom: 1px solid #BD9060;
            background-color: transparent;
            color: #fff;
            vertical-align: middle; 
            font-family: 'Noto Sans', sans-serif;
            font-size: 14px;     
        }
        
        .screening-btn {
            background-color: #BD9060;
            border: none;
            border-radius: 999px;
            padding: 0.1em 0.5em;
            color: #000;
            font-size: 12px;
            &:hover {
                color: #fff;
                background-color: #BD9060;
            }
        }
    }
    .date-picker-container {
        input {
            border-radius: 999px;
            padding: 0.5em;
            background-color: #BD9060;
            text-align: center;
            font-size: 12px;
            border: none;
        }
        h3 {
            font-size: 24px;
            color: #BD9060;
            font-family: 'Playfair Display';
        }
    }
}

@media (min-width: 768px) {
    .screenig-list {
        .screening-table{
            td {
                padding: 2em 1em; 
                font-size: 20px;          
            }
            .screening-btn {
                font-size: 20px;
            }
        }
        .date-picker-container {
            input {
                font-size: 20px;
            }
            h3 {
                font-size: 24px;
            }
        }
    }
}