.screenig-list {
    .screening-table{
        th {
            display: none;
        }
        tr {
            padding: 1em 0;
        }
        td {
            margin: 2em 0;
            border-bottom: 1px solid #BD9060;
        }
        
        button {
            background-color: #BD9060;
            border: none;
            border-radius: 20px;
            padding: 0.5em;
        }
    }
    h2 {
        color: #fff;
        position: relative;
        // &:before,
        // &:after {
        //   content: " ";
        //   display: block;
        //   height: 2px;
        //   width: 109px;
        //   position: absolute;
        //   top: 50%;
        //   background: linear-gradient(#5B4935, #BD9060, #5B4935);
        
        //     &:before {
        //     left: 500px;
        //     }
        
        //     &:after {
        //     right: 20px;
        //     }
        // }
    }
}